h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headings;
	font-weight: 400;
}

h1{
	font-size: 2.887em;
}
h2{
	font-size: 2.566em
}
h3{
	font-size: 2.281em
}
h4{
	font-size: 2.027em
}
h5{
	font-size: 1.802em
}

h6{
	font-size: 1.602em
}